<!doctype html>
<html lang="en">

<head>
  <title>
    Diary
  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous">
  <script type="application/javascript" src="/static/js/vendor/jquery/jquery-3.3.1.min.js">
  </script>
  <script type="application/javascript" src="/static/js/vendor/srteditor/srteditor.min.js">
  </script>
  <script type="application/javascript">
    $(document).ready(function () {
      $("#srteditor").srteditor({
        "Submit": function (e) {
          var submit = { title: $("#diary-title").val(), tags: $("#diary-tags").val().split(","), body: e.data.doc.body.innerHTML };
          $.post("/api/submit", JSON.stringify(submit), function (data) {
            $("#diary-status").html("");
          }).fail(function (data) {
            $("#diary-status").html(data.responseText);
          })
        },
        "Save": function (e) {
          var save = { title: $("#diary-title").val(), tags: $("#diary-tags").val().split(","), body: e.data.doc.body.innerHTML };
          $.post("/api/save", JSON.stringify(save), function (data) {
            $("#diary-status").html("");
          }).fail(function (data) {
            $("#diary-status").html(data.responseText);
          })
        }
      });
    });
  </script>
</head>

<body>
  <div>
    Title: <input type="text" id="diary-title" \>
    <br>
    Tags (Comma separated): <input type="text" id="diary-tags" \>
  </div>
  <iframe id="srteditor">
  </iframe>
  <div id="diary-status">
  </div>
</body>

</html>